*.log
*.log*
.DS_Store
*.tgz
*.local
*/reports/*
backups/
old_jobs/
logs/
tasks/.bundle/*
tasks/vendor/*
database.yml
.idea
tmp/
kibana-auth/node_modules/
dependency-reduced-pom.xml*

# DevOps
*.backup
*.terrahelpbkp
.terraform
terraform.tfstate.*
terraform.tfstate.*
terraform.tfstate.*
terraform.tfstate.*
terraform.tfstate.*
terraform.tfstate.*
*.retry
target/
*.iml
